
.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialog {
    color: #ff0033;
}
.dialogsItems .active {
    color: #ffbf00;
}
.dialogsItems {
    padding: 10px;

}
.messages {
    padding: 10px;

}
.dialogs .messages {
color: white;
}