.app-wrapper {
  display: grid;
  padding: 30px;

  grid-template-areas:
          "h h"
          "n c";

  grid-template-rows: 20% 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 1em;
  align-items: center;

}




