.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;


}

.dialogsItems .dialog {

    padding: 15px;

}
.dialogsItems .dialog img{
    width: 40px;
    padding-right: 10px;
border-radius: 40px;
}

.dialogsItems .dialog a {

     text-decoration: none;
}

.dialogs .active {
    color: #06f566;
}

.messages {
    padding: 30px;
    margin: 30px;
}

.messages .message {
color: #c41515;
}
